In [2]:
import sqlite3

In [3]:
# connecting to the database
connection = sqlite3.connect("intents.sqlite")

In [4]:
# cursor
crsr = connection.cursor()

In [5]:
# print statement will execute if there
# are no errors
print("Connected to the database")

Connected to the database

## Creating Tag Table

In [103]:
# SQL command to create a table in the database
sql_command = """
CREATE TABLE IF NOT EXISTS tags ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(20));
"""

crsr.execute(sql_command)

In [12]:
# SQL command to insert the data in the table
sql_command = """
INSERT INTO tags VALUES (7, "crop");
"""
crsr.execute(sql_command)

In [13]:
for i in crsr.execute("SELECT * FROM tags;").fetchall():
    print(i)

(1, 'greetings')
(2, 'goodbye')
(3, 'age')
(4, 'name')
(5, 'shop')
(6, 'hours')
(7, 'crop')
(8, 'stocks')

## Creating Pattern Table

In [85]:
# SQL command to create a table in the database
sql_command = """
CREATE TABLE IF NOT EXISTS patterns ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(20),
tag_id INTEGER NOT NULL,
FOREIGN KEY(tag_id) REFERENCES tags(id));
"""

crsr.execute(sql_command)

In [69]:
data = ["what stocks do I own?", "how are my shares?", "what companies am I invested in?", "What am I doing in stocks"]
start = 37
tag = 8

In [70]:
for i, val in enumerate(data):
    tup = (start+i, val, tag)

    crsr.execute("INSERT INTO patterns VALUES (?,?,?)", tup)

In [43]:
# sql_command = """
# DELETE FROM patterns
# WHERE id = 7;
# """
# crsr.execute(sql_command)

In [71]:
for i in crsr.execute("SELECT * FROM patterns;").fetchall():
    print(i)

(1, 'hello', 1)
(2, 'hey', 1)
(3, 'hi', 1)
(4, 'good day', 1)
(5, 'good morning', 1)
(6, 'cya', 2)
(7, 'see you later', 2)
(8, "I'm leaving", 2)
(9, 'goodbye', 2)
(10, 'have a good day', 2)
(11, 'I am leaving', 2)
(12, 'bye', 2)
(13, 'see ya', 2)
(14, 'how old', 3)
(15, 'how old is florian', 3)
(16, 'what is your age', 3)
(17, 'how old are you?', 3)
(18, 'age?', 3)
(19, 'What is your name', 4)
(20, 'what should I call you?', 4)
(21, 'what is your name', 4)
(22, 'who are you', 4)
(23, 'can you tell me your name', 4)
(24, "I'd like to buy something", 5)
(25, 'What are your products?', 5)
(26, 'what do you recommend?', 5)
(27, 'What are you selling?', 5)
(28, 'When are you guys open?', 6)
(29, 'What are your hours', 6)
(30, 'hours of operation', 6)
(31, 'price', 6)
(32, 'value', 6)
(33, 'mrp', 6)
(34, 'What is the price of maize', 7)
(35, 'How much is Wheat worth', 7)
(36, 'selling price of rice', 7)
(37, 'what stocks do I own?', 8)
(38, 'how are my shares?', 8)
(39, 'what companies am I invested in?', 8)
(40, 'What am I doing in stocks', 8)

## Creating Responses Table

In [74]:
# SQL command to create a table in the database
sql_command = """
CREATE TABLE IF NOT EXISTS responses ( 
id INTEGER PRIMARY KEY, 
name VARCHAR(20),
tag_id INTEGER NOT NULL,
FOREIGN KEY(tag_id) REFERENCES tags(id));
"""

crsr.execute(sql_command)

In [39]:
data = ["[Unavailable]"]
start = 13
tag = 7

In [40]:
for i, val in enumerate(data):
    tup = (start+i, val, tag)

    crsr.execute("INSERT INTO responses VALUES (?,?,?)", tup)

In [41]:
for i in crsr.execute("SELECT * FROM responses;").fetchall():
    print(i)

(1, 'Hello', 1)
(2, 'What can I do for you?', 1)
(3, 'Goodbye', 2)
(4, 'Nice to have met you', 2)
(5, 'My owner is 21 years old!', 3)
(6, '21 years!', 3)
(7, '21', 3)
(8, 'You can call me Neural!', 4)
(9, "I'm neural", 4)
(10, "I'm Neural, The assistant", 4)
(11, 'We sell books! Lots of them.', 5)
(12, '24/7', 6)
(13, '[Unavailable]', 7)
(14, 'You own the following shares: ABBV, APPL, FB, NVDA and an ETF of the S&P 500 Index!', 8)

# JOINING Tables

In [103]:
sql_statement = '''
SELECT t.id, t.name, p.name, r.name FROM tags AS t JOIN patterns AS p ON t.id == p.tag_id JOIN responses AS r ON t.id == r.tag_id;
'''

for i in crsr.execute(sql_statement).fetchall():
    print(i)

(1, 'greetings', 'hello', 'Hello')
(1, 'greetings', 'hello', 'What can I do for you?')
(1, 'greetings', 'hey', 'Hello')
(1, 'greetings', 'hey', 'What can I do for you?')
(1, 'greetings', 'hi', 'Hello')
(1, 'greetings', 'hi', 'What can I do for you?')
(1, 'greetings', 'good day', 'Hello')
(1, 'greetings', 'good day', 'What can I do for you?')
(1, 'greetings', 'good morning', 'Hello')
(1, 'greetings', 'good morning', 'What can I do for you?')
(2, 'goodbye', 'cya', 'Goodbye')
(2, 'goodbye', 'cya', 'Nice to have met you')
(2, 'goodbye', 'see you later', 'Goodbye')
(2, 'goodbye', 'see you later', 'Nice to have met you')
(2, 'goodbye', "I'm leaving", 'Goodbye')
(2, 'goodbye', "I'm leaving", 'Nice to have met you')
(2, 'goodbye', 'goodbye', 'Goodbye')
(2, 'goodbye', 'goodbye', 'Nice to have met you')
(2, 'goodbye', 'have a good day', 'Goodbye')
(2, 'goodbye', 'have a good day', 'Nice to have met you')
(2, 'goodbye', 'I am leaving', 'Goodbye')
(2, 'goodbye', 'I am leaving', 'Nice to have met you')
(2, 'goodbye', 'bye', 'Goodbye')
(2, 'goodbye', 'bye', 'Nice to have met you')
(2, 'goodbye', 'see ya', 'Goodbye')
(2, 'goodbye', 'see ya', 'Nice to have met you')
(3, 'age', 'how old', '21')
(3, 'age', 'how old', '21 years!')
(3, 'age', 'how old', 'My owner is 21 years old!')
(3, 'age', 'how old is florian', '21')
(3, 'age', 'how old is florian', '21 years!')
(3, 'age', 'how old is florian', 'My owner is 21 years old!')
(3, 'age', 'what is your age', '21')
(3, 'age', 'what is your age', '21 years!')
(3, 'age', 'what is your age', 'My owner is 21 years old!')
(3, 'age', 'how old are you?', '21')
(3, 'age', 'how old are you?', '21 years!')
(3, 'age', 'how old are you?', 'My owner is 21 years old!')
(3, 'age', 'age?', '21')
(3, 'age', 'age?', '21 years!')
(3, 'age', 'age?', 'My owner is 21 years old!')
(4, 'name', 'What is your name', "I'm Neural, The assistant to Florian")
(4, 'name', 'What is your name', "I'm neural")
(4, 'name', 'What is your name', 'You can call me Neural!')
(4, 'name', 'what should I call you?', "I'm Neural, The assistant to Florian")
(4, 'name', 'what should I call you?', "I'm neural")
(4, 'name', 'what should I call you?', 'You can call me Neural!')
(4, 'name', 'what is your name', "I'm Neural, The assistant to Florian")
(4, 'name', 'what is your name', "I'm neural")
(4, 'name', 'what is your name', 'You can call me Neural!')
(4, 'name', 'who are you', "I'm Neural, The assistant to Florian")
(4, 'name', 'who are you', "I'm neural")
(4, 'name', 'who are you', 'You can call me Neural!')
(4, 'name', 'can you tell me your name', "I'm Neural, The assistant to Florian")
(4, 'name', 'can you tell me your name', "I'm neural")
(4, 'name', 'can you tell me your name', 'You can call me Neural!')
(5, 'shop', "I'd like to buy something", 'We sell books! Lots of them.')
(5, 'shop', 'What are your products?', 'We sell books! Lots of them.')
(5, 'shop', 'what do you recommend?', 'We sell books! Lots of them.')
(5, 'shop', 'What are you selling?', 'We sell books! Lots of them.')
(6, 'hours', 'When are you guys open?', '24/7')
(6, 'hours', 'What are your hours', '24/7')
(6, 'hours', 'hours of operation', '24/7')
(6, 'hours', 'price', '24/7')
(6, 'hours', 'value', '24/7')
(6, 'hours', 'mrp', '24/7')
(7, 'crop', 'What is the price of maize', '[Unavailable]')
(7, 'crop', 'How much is Wheat worth', '[Unavailable]')
(7, 'crop', 'selling price of rice', '[Unavailable]')
(8, 'stocks', 'what stocks do I own?', 'You own the following shares: ABBV, APPL, FB, NVDA and an ETF of the S&P 500 Index!')
(8, 'stocks', 'how are my shares?', 'You own the following shares: ABBV, APPL, FB, NVDA and an ETF of the S&P 500 Index!')
(8, 'stocks', 'what companies am I invested in?', 'You own the following shares: ABBV, APPL, FB, NVDA and an ETF of the S&P 500 Index!')
(8, 'stocks', 'What am I doing in stocks', 'You own the following shares: ABBV, APPL, FB, NVDA and an ETF of the S&P 500 Index!')

In [104]:
# sql_statement = '''
# SELECT t.id, t.name FROM tags AS t;
# '''

sql_statement = '''
SELECT t.id, t.name FROM patterns WHERE name;
'''

for i in crsr.execute(sql_statement).fetchall():
    print(i)

(1, 'greetings')
(2, 'goodbye')
(3, 'age')
(4, 'name')
(5, 'shop')
(6, 'hours')
(7, 'crop')
(8, 'stocks')

In [11]:
sql_statement = '''
SELECT t.id, t.name, p.name FROM tags AS t JOIN patterns AS p ON t.id == p.tag_id WHERE t.name == 'name';
'''

for i in crsr.execute(sql_statement).fetchall():
    print(i)

(4, 'name', 'What is your name')
(4, 'name', 'what should I call you?')
(4, 'name', 'what is your name')
(4, 'name', 'who are you')
(4, 'name', 'can you tell me your name')

In [44]:
sql_statement = '''
SELECT t.id, t.name, r.name FROM tags AS t JOIN responses AS r ON t.id == r.tag_id WHERE t.name == 'name';
'''

for i in crsr.execute(sql_statement).fetchall():
    print(i)

(4, 'name', 'You can call me Neural!')
(4, 'name', "I'm neural")
(4, 'name', "I'm Neural, The assistant")

In [14]:
sql_statement = '''
SELECT t.id, t.name, r.name FROM tags AS t JOIN responses AS r ON t.id == r.tag_id;
'''

for i in crsr.execute(sql_statement).fetchall():
    print(i)

# Closing Connection

In [42]:

# close the connection
connection.commit()

In [37]:
connection.close()